
                    html {
                        --fs-global: 0.5208333333vw;
                        font-size: var(--fs-global);
                        height: auto;
                        min-height: -webkit-fill-available;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        font-kerning: none;
                        -webkit-text-size-adjust: 100%;
                        touch-action: manipulation;
                        overflow-y: overlay;
                        /*scrollbar-gutter: stable;*/
                    }

                    @media only screen and (min-width: 1920px) {
                        html {
                            --fs-global: 10px;
                        }
                    }

                    @media only screen and (max-width: 991px) {
                        html {
                            --fs-global: 1.1990407674vw;
                        }
                    }

                    @media only screen and (max-width: 767px) {
                        html {
                            --fs-global: 2.3255813953vw;
                        }
                    }

                    .custom-scroll {
                        overflow-y: overlay;
                        scrollbar-gutter: stable;
                    }

                    html::-webkit-scrollbar,
                    .custom-scroll::-webkit-scrollbar {
                        width: .8rem;
                    }

                    html::-webkit-scrollbar-track,
                    .custom-scroll::-webkit-scrollbar-track {
                        width: .8rem;
                    }

                    html::-webkit-scrollbar-track,
                    .custom-scroll::-webkit-scrollbar-track {
                        border: solid .2rem transparent;
                    }

                    html::-webkit-scrollbar-thumb,
                    .custom-scroll::-webkit-scrollbar-thumb {
                        box-shadow: inset 0 0 1rem 1rem #003357;
                        transition: all .4s;
                        border: solid .2rem transparent;
                    }

                    html::-webkit-scrollbar-thumb:hover,
                    .custom-scroll::-webkit-scrollbar-thumb:hover {
                        box-shadow: inset 0 0 1rem 1rem #3D424D;
                    }

                    html::-webkit-scrollbar-corner,
                    .custom-scroll::-webkit-scrollbar-corner {
                        background-color: transparent;
                    }

                    body,
                    .body {
                        position: relative;
                    }

                    @media only screen and (max-width: 767px) {

                        html,
                        body {
                            width: 100%;
                            height: 100%;
                            margin: 0;
                            padding: 0;
                            overflow: hidden;
                        }

                        body,
                        .body {
                            overscroll-behavior-y: none;
                            overscroll-behavior-x: none;
                            position: fixed;
                        }

                        .body-inner {
                            overscroll-behavior: none;
                            position: absolute;
                            top: 0;
                            left: 0;
                            overflow-y: scroll;
                            overflow-x: hidden;
                        }
                    }

                    main,
                    .main {
                        flex-grow: 1;
                    }

                    .w-container:before,
                    .w-container:after {
                        display: none;
                    }

                    .w-embed:before,
                    .w-embed:after {
                        display: none;
                    }

                    .w-richtext:before,
                    .w-richtext:after {
                        display: none;
                    }

                    .w-richtext a,
                    .w-richtext button {
                        position: relative;
                        overflow: hidden;
                        display: inline-block;
                        vertical-align: bottom;
                        color: var(--decor--primary);
                    }

                    .w-richtext a::before,
                    .w-richtext button:before {
                        content: '';
                        position: absolute;
                        display: block;
                        bottom: 0.15em;
                        width: 100%;
                        height: 1px;
                        left: 0;
                        transform: scaleX(0);
                        transform-origin: right;
                        background-color: currentColor;
                        -webkit-transition: 0.6s transform cubic-bezier(0.66, 0, 0.15, 1);
                        transition: 0.6s transform cubic-bezier(0.66, 0, 0.15, 1);
                    }

                    .w-richtext>*:first-child {
                        margin-top: 0 !important;
                    }

                    .w-richtext>*:last-child {
                        margin-bottom: 0 !important;
                    }

                    .w-richtext li:has(strong)::marker {
                        font-weight: bold;
                    }

                    .w-richtext ol:has(ul, ol)>li>*:not(ul, ol) {
                        font-size: 1.8rem;
                    }

                    .w-richtext li:last-child {
                        margin-bottom: 0;
                    }

                    .w--current {
                        pointer-events: none;
                    }

                    .w-input,
                    .w-select {
                        height: auto;
                        padding: 1rem 1.4rem;
                        background-color: transparent;
                    }

                    .w-radio,
                    .w-checkbox {
                        margin-bottom: 0;
                    }

                    .w-radio-input {
                        accent-color: var(--decor--primary);
                    }

                    .w-richtext figure {
                        width: 100% !important;
                        max-width: 100% !important;
                        display: block;
                    }

                    .w-richtext figure>div {
                        border-radius: 1.6rem;
                        overflow: hidden;
                        width: 100%;
                    }

                    .w-richtext figure img {
                        width: 100% !important;
                        max-width: 100%;
                        object-fit: cover;
                        height: auto;
                        -webkit-user-select: none;
                        -khtml-user-select: none;
                        -moz-user-select: none;
                        -o-user-select: none;
                        user-select: none;
                        pointer-events: none;
                        display: block;
                        outline: 0;
                    }

                    button {
                        background-color: initial;
                        color: currentColor;
                        padding: 0;
                    }

                    button>* {
                        pointer-events: none;
                    }

                    a {
                        text-decoration: none;
                        color: currentColor;
                        outline: 0;
                        cursor: pointer;
                    }

                    textarea {
                        resize: vertical;
                    }

                    .input-default {
                        border: none;
                        padding: 0;
                        margin: 0;
                        background-color: transparent;
                    }

                    .swiper,
                    .swiper-wrapper {
                        width: 100%;
                    }

                    .swiper-pagination {
                        position: relative;
                        bottom: 0;
                    }

                    :root {
                        --swiper-pagination-bullet-size: .6rem;
                        --swiper-pagination-bullet-horizontal-gap: .2rem;
                        --swiper-theme-color: var(--decor--primary);
                        --swiper-pagination-bullet-inactive-opacity: .1;
                    }

                    [data-pagination-mode="dark"] {
                        --swiper-pagination-bullet-inactive-color: #fff;
                    }

                    html.lenis,
                    html.lenis body {
                        height: auto;
                    }

                    /*.lenis:not(.lenis-autoToggle).lenis-stopped {
    overflow: clip;
  }*/

                    .lenis.lenis-smooth [data-lenis-prevent] {
                        overscroll-behavior: contain;
                    }

                    .lenis.lenis-smooth iframe {
                        pointer-events: none;
                    }

                    .lenis.lenis-autoToggle {
                        transition-property: overflow;
                        transition-duration: 1ms;
                        transition-behavior: allow-discrete;
                    }

                    @media (hover: hover) {

                        .w-richtext a:hover::before,
                        .w-richtext button:hover::before {
                            -webkit-transform: scaleX(1);
                            transform: scaleX(1);
                            transform-origin: left;
                        }
                    }

                    @media only screen and (max-width: 767px) {
                        .w-richtext figure>div {
                            border-radius: .8rem;
                        }
                    }
                