
                                                                    .home-map-location-item:nth-child(4) .home-map-location-ic {
                                                                        --item-size: 44;
                                                                        left: calc(1545/1920 * 100%);
                                                                        top: calc(300/1138 * 100%);
                                                                    }
                                                                